<app-loading
    [message]="'Đang tải'"
    [isShow]="isLoading()"
></app-loading>
<app-auth-layout>
    <div class="px-21 sm:px-5 md:px-0">
        <!-- @if (!isOtpSent()) { -->
        <h2 class="text-5xl font-bold text-center mb-5">
            Quên mật khẩu
        </h2>

        <!-- Form nhập email -->
        <form (ngSubmit)="requestOtp()">
            <div class="">
                <app-primary-forms-input 
                    [formControl]="requestForm" 
                    [id]="'text'" 
                    [label]="'Gửi mã qua '+ (otpPayload.method === 'email' ? 'Email' : 'SMS')" 
                    [type]="'text'"
                    [extraClass]="'bg-[#BD9F69] mt-2 rounded-[13px] w-full  h-12 sm:h-15 pl-4 sm:pl-6 text-white placeholder-[#FFFFFF]/60'"
                    [showIcon]="true"
                    [placeholder]="otpPayload.method === 'email' ? 'Nhập email' : 'Nhập số điện thoại'">
                </app-primary-forms-input>
            </div>

            @if (!isOtpSent()) {
                <button type="submit"
                    class="w-full h-12 sm:h-15 text-sm sm:text-base text-black border border-[#BD9F69] py-3 rounded-[15px] hover:bg-[#BD9F69]/20 transition-all duration-300 mt-2 mb-6 shadow hover:shadow-lg">
                    Gửi mã xác nhận
                </button>
            }
        </form>
        
        <div>
            @if (isOtpSent()) {
                <div class="flex justify-center gap-4 mt-5 mb-2">
                    <app-otp-input
                        #otpInput
                        [extraInputClass]="'w-10 h-12 sm:w-12 sm:h-14 md:w-14 md:h-16 text-center text-xl sm:text-2xl font-bold border-1 border-[#BD9F69] rounded-[13px] focus:border-[#BD9F69] focus:ring-1 focus:ring-[#BD9F69] outline-none transition'"
                        [extraContainerClass]="'gap-2 sm:gap-3 md:gap-4'"
                        [otpLength]=6
                        [isDisabled]="isOtpTimeout()"
                        (otpComplete)="verifyOtp()"
                        >
                    </app-otp-input>
                </div>

                <div class="text-center text-black mb-3 text-sm sm:text-base">
                    <div class="flex items-center justify-center">
                        <span class=" mr-1">Hết hạn sau:</span>
                        <span class="text-[#A1834F]">{{ formatTime(otpTime()) }}</span>
                    </div>

                    <div>
                        <span class="">Không nhận được mã?</span>
                        <span (click)="requestOtp()" class="text-[#BD9F69] hover:underline font-semibold cursor-pointer">
                            Gửi lại
                        </span>
                    </div>
                </div>

                <div class="justify-center flex mt-4 mb-4 sm:mt-5 sm:mb-5">
                    <app-button
                        (click)="!isOtpTimeout() && verifyOtp()"
                        [buttonText]="'Xác nhận'"
                        [extraClass]="'border-1 border-[#BD9F69] rounded-[15px] w-52 sm:w-72 md:w-96 lg:w-104 h-14 text-base'"
                        >
                    </app-button>
                </div>
            }
        </div>

        <div class="text-center">
            <a [routerLink]="['/forgot-password']"
                class="text-sm sm:text-base text-black hover:underline cursor-pointer inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>

                <span>
                    Quay lại
                </span>
            </a>
        </div>

    </div>
</app-auth-layout>